body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.subtext {
    margin: 10px 0;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 12px 200px;
}

.header, .footer, a, .intro {
    background-color: #1F2937;
    color: #E5E7EB;
}

.links {
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding: 24px 0;
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.intro {
    padding: 150px 200px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.image {
    background-color: #6D747D;
    width: 600px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}