body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.subtext {
    margin: 10px 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 12px 200px;
}

.header, .footer, a, .intro {
    background-color: #1F2937;
    color: #E5E7EB;
}

.links {
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding: 40px 0;
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.intro {
    padding: 150px 200px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.image {
    background-color: #6D747D;
    width: 600px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;
}

.infos h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.boxes div {
    flex-basis: 150px;
}

.boxes .subtext {
    text-align: center;
    color: #6D747D;
}

.rounded-image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.quote-box {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
    gap: 20px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.by-who {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.blue-box {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    gap: 100px;
}

.left-side {
    color: #F9FAF8;
}

.main-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.blue-box .subtext {
    margin: 0;
}

.blue-box button {
    border: 2px solid #F9FAF8;
    flex-shrink: 0;
}