body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 72px;
}

.header, .footer, a {
    background-color: #1F2937;
    color: #E5E7EB;
}

.links {
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 24px 0;
}